* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 30px;
	min-height: 100vh;
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.section__video {
	width: 500px;
	height: 500px;
}

.video-youtube {
	position: relative;
}

.video-youtube__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-youtube__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

.video-youtube__button {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	padding: 0;
	width: 68px;
	height: 48px;
	border: none;
	display: none;
	background-color: transparent;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 2;
}

.video__button-shape {
	fill: #212121;
	fill-opacity: 0.8;
}

.video__button-icon {
	fill: #ffffff;
}

.video-youtube__button:focus {
	outline: none;
}

.video-youtube:hover .video__button-shape,
.video-youtube:focus .video__button-shape {
	fill: #ff0000;
	fill-opacity: 1;
}

.video-youtube--enabled {
	cursor: pointer;
}

.video-youtube--enabled .video-youtube__button {
	display: block;
}
